<div id="pc-global-info" style="display: none;" class="popup-window">
    <span class="close-btn" onclick="closePCStats()">×</span>
    <h4>PC Global Effects</h4>
    <div id="pc-effects-content" class="popup-content">
        <!-- PC effects will be populated here -->
    </div>
</div>